:root {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}

@media screen and (max-width: 800px) {
  body {
    height: 105vh;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
